/*
配色参考 : https://saruwakakun.com/design/gallery/palette
#516C9D 濃い
#4072B3 濃い青
#6088C6 普通の青
#AEC4E5 薄い青
#EB8686 ピンク
#C0C0C0 灰色
*/

/* ------------------------------------------------------------------------ */
/* 一般 */
/* ------------------------------------------------------------------------ */

body {
    margin: 0 auto;
}

h1 {
    color: white;
    font-weight: lighter;
}

h2 {
    color: #4072b3;
}

header, footer {
    background-color: #516C9D;
}

label, a {
    color: white;
    font-size: 1.2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #C0C0C0;
}

thead {
    background-color: #6088C6;
}

td {
    font-size: 12px;
    padding: .2em .5em;
    border: solid 1px #ccc;
}

div#description {
    height: 150px;
}

/* 入出力のコンテナ */
div.active {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #AEC4E5;
}

div.inactive {
    height: 600px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #AEC4E5;
}

/* ------------------------------------------------------------------------ */
/* 順序付きリスト */
/* ------------------------------------------------------------------------ */

ol {
    list-style-type: none;
    counter-reset: number;/* カウンターを初期化 */
}

li {
    position: relative;
}

/* beforeでカウンターを作成 */
li::before {
    content: counter(number);
    counter-increment: number;
    padding: 0 0.20em;
}

/* afterで○を作る */
li::after {
    content: '';
    /* 配置を調整 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    /* ○を作る */
    width: 1em;
    height: 1em;
    border: 1px solid ;
    border-radius: 50%;
}

/* ------------------------------------------------------------------------ */
/* タブ切り替え */
/* ------------------------------------------------------------------------ */

.content-container {
    display: none;
    height: 80%;
    width: 100%;
    /* 位置合わせ */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* 配色 */
    background-color: #AEC4E5;
}

label.tab {
    width: calc(100%/2);
    height: 10%;
    line-height: 50px;
    text-align: center;
    background-color: #C0C0C0;
}

.tab:hover {
    opacity: 0.75;
}

input[name="tab"] {
    display: none; /* ラジオボタンを非表示に */
}

/* 選択されたタブ */
input:checked + .tab {
    background-color: #6088C6;
}

button {
    font-size: 1.2em;
    height: 8%;
    width: 20%;
    background-color: #C0C0C0;
    color: white;
}

#input-json-tab:checked ~ #input-json-container,
#upload-json-tab:checked ~ #upload-json-container,
#output-csv-tab:checked ~ #output-csv-container,
#download-csv-tab:checked ~ #download-csv-container {
    display: flex;
}

/* ------------------------------------------------------------------------ */
/* フッター */
/* ------------------------------------------------------------------------ */
.devicon-github-original,
.github-link {
    position: relative;
    left: 80%;
}

/* ------------------------------------------------------------------------ */
/* ローディング */
/* ------------------------------------------------------------------------ */

.loading {
    visibility: hidden;
    /* 画面最大 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* 背景色（黒、不透明度80%） */
    background-color: #000000;
    opacity: 0.8;
    /* フレックスコンテナ（縦並べ、横中央、縦中央） */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 表示を一番上 */
    z-index: 999;
    /* 選択付加 */
    user-select: none;
}

.load-text {
    color: white;
    font-size: 16pt;
}

.load-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #4072b3;
    border-top-color: white;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}