.container {
  display: flex;
  justify-content: space-around;
}

.title {
  width: '80%';
  color: 'red';
  border-radius: '20px';
}

.button {
  padding: '8px';
  margin: '8px';
  color: 'fff';
  background-color: '#6ce';
  border-radius: '20px';
}
